.products-block .type-product {
  background: #FFFFFF;
  border: 1px solid rgba(18, 18, 18, 0.05);
  box-shadow: -15px -16px 44px rgba(215, 228, 249, 0.14), 0px 18px 52px rgba(215, 228, 249, 0.28);
  border-radius: 16px;
  padding: 20px;
}
