.columns-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 32px;
}

.products-block__title {
  padding-top: 120px;
  text-align: center;
}


.products-block {
  .products {
    list-style: none;
    padding: 0;
  }
}
