@charset "UTF-8";
:root {
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "CeraPro";
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.main-title {
  font-family: "CeraPro";
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  margin: 0;
  text-transform: uppercase;
}

.header {
  background-color: #000000;
}

/* МЕНЮ */
.header__bottom {
  background: rgba(255, 255, 255, 0.06);
}

.menu {
  margin: 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style: none;
  padding: 27px 0;
  gap: 26px;
}

.menu-item a {
  color: #FFFFFF;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.menu-item a:hover {
  color: #E6D5BD;
}

.current_page_item a {
  color: #E6D5BD;
}

.menu-item-type-custom a {
  color: #FFFFFF !important;
}

.menu-item-object-custom a:hover {
  color: #E6D5BD !important;
}

.menu li {
  margin-right: 24px;
}

.menu li:last-child {
  margin-right: 0;
}

.rightside-menu__close {
  display: none;
}

.header__btn {
  display: none;
}

.current-menu-item {
  text-shadow: 0 0 0.2px #1F1D1D;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 100px;
}

/* АДАПТИВ МЕНЮ */
@media (max-width: 992px) {
  .menu {
    margin: 0;
    padding: 40px 30px 10px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .menu li {
    padding-bottom: 15px;
  }
  .menu li a:hover {
    color: #121212;
  }
  .rightside-menu__close {
    display: block;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  .rightside-menu__close-span {
    background-color: #ffffff;
    display: block;
    width: 30px;
    opacity: 1;
    right: 5px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    height: 2px;
    position: absolute;
  }
  .rightside-menu__close-span:nth-child(1) {
    top: 20px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .rightside-menu__close-span:nth-child(2) {
    top: 20px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  .header__btn {
    display: block;
    position: absolute;
    width: 28px;
    height: 20px;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    z-index: 999;
    left: auto;
    left: 15px;
    top: 15px;
    background-color: transparent;
    border: none;
  }
  .rightside-menu {
    z-index: 5;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 694px;
    background-color: #fff;
    padding-top: 40px;
    width: 100%;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .rightside-menu--close {
    -webkit-transform: translateX(500%);
    -ms-transform: translateX(500%);
    transform: translateX(500%);
  }
  .header__bottom .nav {
    position: fixed;
    background-color: #EFC97E;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999;
  }
  .header__bottom .nav--close {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .header__btn-span {
    background-color: #ffffff;
    display: block;
    position: absolute;
    width: 100%;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    height: 3px;
  }
  .header__btn-span:nth-child(1) {
    top: 0;
  }
  .header__btn-span:nth-child(2) {
    top: 8px;
  }
  .header__btn-span:nth-child(3) {
    top: 16px;
  }
}
@media (max-width: 768px) {
  .menu li a {
    font-size: 14px;
    line-height: 17px;
  }
}
@media (max-width: 400px) {
  .menu li a {
    font-size: 12px;
    line-height: 15px;
  }
}
.nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-hero {
  background-image: url(../img/main-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}
.main-hero__title {
  padding-top: 166px;
}
.main-hero__btn {
  margin-top: 32px;
  margin-bottom: 247px;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.26);
  -webkit-backdrop-filter: blur(2.5px);
  backdrop-filter: blur(2.5px);
  border-radius: 279px;
  color: #FFFFFF;
  padding: 16px 64px;
  cursor: pointer;
  font-family: "CeraPro";
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.main-hero__btn:hover {
  background: rgba(255, 255, 255, 0.44);
}

.section-figure {
  width: 100%;
  height: 70px;
  border-radius: 100% 100% 0 0;
  background-color: #FFFFFF;
  margin-top: -70px;
  position: relative;
}

.main-descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 80px;
}
.main-descr__wrap {
  position: relative;
}
.main-descr__wrap:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 18px;
  height: 18px;
  border-left: 2px solid #88E4AE;
  border-top: 2px solid #88E4AE;
  border-radius: 4px 0 0;
}
.main-descr__wrap:after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 18px;
  height: 18px;
  border-right: 2px solid #88E4AE;
  border-bottom: 2px solid #88E4AE;
  border-radius: 0 0 4px;
}
.main-descr__text {
  font-family: "CeraPro";
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 144%;
  text-align: center;
  color: #000000;
  margin: 0;
  padding-bottom: 24px;
  max-width: 611px;
}

.menu-block {
  position: sticky;
  top: 0px;
  background-color: #fff;
  padding: 10px 0;
}

.our-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 8px;
  max-width: 100%;
  margin: 0 auto;
}
.our-menu a {
  display: inline-block;
  font-family: "CeraPro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  background-color: #E5D7BE;
  -webkit-box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.34);
  box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.34);
  border-radius: 30px;
  padding: 7px 20px;
  color: #000000 !important;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  border: 1px solid #E5D7BE;
}
.our-menu a:hover {
  background-color: #FFFFFF;
  color: #000000 !important;
}

.columns-4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 32px;
}

.products-block__title {
  padding-top: 120px;
  padding-bottom: 34px;
  text-align: center;
  font-family: "CeraPro";
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin: 0;
}

.products-block .products {
  list-style: none;
  padding: 0;
}
.products-block img {
  width: 362px;
  height: 256px;
  border-radius: 8px;
}
.products-block .woocommerce-loop-product__title {
  margin: 0;
  padding-top: 10px;
  font-family: "CeraPro";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #121212;
}
.products-block p {
  margin: 0;
  padding: 10px 0;
  font-family: "CeraPro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #121212;
}
.products-block .woocommerce-Price-amount {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #121212;
}
.products-block .price {
  display: block;
  padding-bottom: 44px;
}
.products-block .wp-element-button {
  display: inline-block;
  font-family: "CeraPro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #E6D5BD;
  border-color: #E6D5BD;
  border-radius: 30px;
  padding: 11px 44px;
  background-color: #ffffff;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
.products-block .wp-element-button:hover {
  background-color: #121212;
  border-color: #121212;
  color: #ffffff;
}
.products-block .addtocartbutton {
  margin-right: 19px;
  display: inline-block;
  font-family: "CeraPro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #E6D5BD;
  border-radius: 30px;
  padding: 11px 36px;
  background-color: #E6D5BD;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.products-block .addtocartbutton:hover {
  background-color: #ffffff;
}

a.added_to_cart.wc-forward {
  display: none;
}

.products-block .type-product {
  background: #FFFFFF;
  border: 1px solid rgba(18, 18, 18, 0.05);
  -webkit-box-shadow: -15px -16px 44px rgba(215, 228, 249, 0.14), 0px 18px 52px rgba(215, 228, 249, 0.28);
  box-shadow: -15px -16px 44px rgba(215, 228, 249, 0.14), 0px 18px 52px rgba(215, 228, 249, 0.28);
  border-radius: 16px;
  padding: 20px;
}

#top-cart {
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 2;
}

#top-cart .top-cart-icon {
  position: relative;
  background-color: #ffffff;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#top-cart .top-cart-icon__wrap {
  width: 56px;
  height: 56px;
}

#top-cart .cart-items {
  width: 30px;
  height: 30px;
  background-color: red;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  right: -3px;
  bottom: -3px;
  text-align: center;
  line-height: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.cart__modal img {
  width: 86px;
  height: 86px;
  margin-right: 24px;
}
.cart__modal li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.cart__modal .quantity {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}
.cart__modal .woocommerce-mini-cart__total {
  text-align: right;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: rgba(18, 18, 18, 0.85);
  margin: 0;
  margin-top: 34px;
  margin-bottom: 38px;
}
.cart__modal .input-text {
  border: 1px solid rgba(18, 18, 18, 0.2);
  border-radius: 118px;
  color: rgba(18, 18, 18, 0.26);
  padding: 19px 30px;
  width: 100%;
  font-family: "CeraPro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(18, 18, 18, 0.6);
}
.cart__modal .woocommerce form .form-row-first, .cart__modal .woocommerce form .form-row-last, .cart__modal .woocommerce-page form .form-row-first, .cart__modal .woocommerce-page form .form-row-last {
  width: 100%;
  overflow: visible;
  margin: 0;
}
.cart__modal #billing_contactmethod_field {
  padding-top: 38px;
  margin: 0;
  font-family: "CeraPro";
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(18, 18, 18, 0.85);
}
.cart__modal #billing_contactmethod_field label {
  font-weight: 500;
}
.cart__modal #billing_contactmethod_field span {
  font-weight: 400;
}
.cart__modal #billing_contactmethod_field .woocommerce-input-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10px 1fr;
  grid-template-columns: 10px 1fr;
  gap: 10px;
  padding-top: 16px;
}
.cart__modal #billing_contactmethod_field abbr {
  display: none;
}
.cart__modal .woocommerce-mini-cart__empty-message {
  font-family: "CeraPro";
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: rgba(18, 18, 18, 0.85);
}
.cart__modal .woocommerce-mini-cart {
  list-style: none;
  padding: 0;
  margin: 0;
}
.cart__modal .cart__title {
  display: block;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #121212;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.cart__modal .header-quickcart {
  margin-top: 24px;
}
.cart__modal .mini_cart_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #121212;
}
.cart__modal .woocommerce-mini-cart__buttons a {
  display: block;
  background: #E5D7BE;
  border-radius: 30px;
  font-family: "CeraPro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 14px 62px;
  border: none;
  width: 100%;
  text-align: center;
  border: 1px solid #E6D5BD;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.cart__modal .woocommerce-mini-cart__buttons a:hover {
  background-color: #ffffff;
}
.cart__modal .remove_from_cart_button {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 300 !important;
  font-size: 25px !important;
  line-height: 25px !important;
  color: #121212;
  border-radius: 100%;
  border: 1px solid rgba(18, 18, 18, 0.4);
  width: 30px;
  height: 30px;
  padding-bottom: 3px;
  margin-left: 34px;
}
.cart__modal .woocommerce-mini-cart-item-group .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cart__modal .woocommerce-mini-cart-item-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.graph-modal__container {
  max-width: 766px;
  padding: 25px 34px;
}

.woocommerce-checkout {
  position: relative;
  max-width: 766px;
  margin: 0 auto;
}
.woocommerce-checkout .woocommerce-billing-fields h3 {
  margin: 0;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #121212;
  padding-top: 90px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  padding-top: 24px;
}
.woocommerce-checkout .shop_table thead, .woocommerce-checkout .shop_table tbody, .woocommerce-checkout .shop_table .cart-subtotal, .woocommerce-checkout .shop_table .woocommerce-shipping-totals {
  display: none;
}
.woocommerce-checkout .woocommerce-error {
  position: absolute;
  top: 0;
  color: red;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  padding-top: 10px;
  padding-left: 18px;
}
.woocommerce-checkout .col2-set .col-1, .woocommerce-checkout .woocommerce-page .col2-set .col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.woocommerce-checkout .col2-set .col-2, .woocommerce-checkout .woocommerce-page .col2-set .col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.woocommerce-checkout .woocommerce-input-wrapper input {
  width: 100%;
}
.woocommerce-checkout #billing_contactmethod_field {
  margin: 0;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #121212;
}
.woocommerce-checkout #billing_contactmethod_field label {
  padding-top: 20px;
  padding-bottom: 15px;
  display: block;
}
.woocommerce-checkout #billing_contactmethod_field span label {
  padding: 0;
  margin: 15px;
}
.woocommerce-checkout #billing_contactmethod_field .woocommerce-input-wrapper {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #121212;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.woocommerce-checkout .input-radio {
  width: 10px !important;
  -webkit-transform: scale(2.2);
  -ms-transform: scale(2.2);
  transform: scale(2.2);
  opacity: 0.5;
  cursor: pointer;
}
.woocommerce-checkout input[type=radio]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -0.9px;
  left: -3px;
  position: relative;
  background-color: #E5D7BE;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #ffffff;
}
.woocommerce-checkout .radio {
  display: inline-block;
}
.woocommerce-checkout .payment_method_cod label {
  margin-left: 10px;
}
.woocommerce-checkout .payment_method_bacs label {
  margin-left: 10px;
}
.woocommerce-checkout #order_review_heading {
  margin: 0;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: #121212;
  padding-top: 20px;
  padding-bottom: 15px;
}
.woocommerce-checkout .input-text {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(18, 18, 18, 0.6);
  border: 1px solid rgba(18, 18, 18, 0.2);
  border-radius: 118px;
  padding: 18px 30px;
}
.woocommerce-checkout .order-total {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: rgba(18, 18, 18, 0.85);
  margin: right;
}
.woocommerce-checkout .wc_payment_methods {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.woocommerce-checkout .woocommerce-checkout-review-order-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 34px;
}
.woocommerce-checkout .order-total {
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: rgba(18, 18, 18, 0.85);
  padding-top: 34px;
  display: block;
}
.woocommerce-checkout .wc_payment_methods::before {
  content: "Способ оплаты";
  display: block;
  font-family: "CeraPro";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  color: rgba(18, 18, 18, 0.85);
  padding-bottom: 15px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  gap: 10px;
}
.woocommerce-checkout #billing_contactmethod_field .required {
  display: none;
}
.woocommerce-checkout .woocommerce-terms-and-conditions-wrapper {
  display: none;
}
.woocommerce-checkout .wp-element-button {
  margin-top: 10px;
  margin-bottom: 34px;
  background: #E5D7BE;
  -webkit-box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.34);
  box-shadow: inset 4px 4px 6px rgba(255, 255, 255, 0.34);
  border-radius: 30px;
  font-family: "CeraPro";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  padding: 14px 62px;
  width: 100%;
  border: 1px solid;
  border-color: #E5D7BE;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.woocommerce-checkout .wp-element-button:hover {
  background-color: #ffffff;
}

.woocommerce-order {
  max-width: 766px;
  margin: 0 auto;
}

.woocommerce-customer-details--email {
  display: none;
}

.woocommerce-column__title {
  display: none;
}
/*# sourceMappingURL=main.css.map */