/* CeraPro */

@font-face {
  font-family: 'CeraPro';
  src: url('CeraPro-Thin.woff') format('woff'),
  url('CeraPro-Thin.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CeraPro';
  src: url('CeraPro-Regular.woff') format('woff'),
  url('CeraPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'CeraPro';
  src: url('CeraPro-Bold.woff') format('woff'),
  url('CeraPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'CeraPro';
  src: url('CeraPro-Medium.woff') format('woff'),
  url('CeraPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Oranienbaum';
  src: url('Oranienbaum.woff') format('woff'),
  url('Oranienbaum.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
} */
